@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 200, 400, 600 */

:root {
    --red: rgb(234, 83, 83);
    --cyan: rgb(69, 211, 211);
    --orange: hsl(34, 97%, 64%);
    --blue: rgb(84, 158, 242);
    --dark-blue: rgb(76, 78, 97);
    --gray-blue: rgb(163, 165, 174);
    --light-gray: rgb(250, 250, 250);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: white;
    color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 75rem;
    box-sizing: border-box;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.heading>* {
    margin: 0;
    margin-bottom: 0.15rem;
}

.heading h1 {
    font-size: clamp(1.5rem, 2vw, 5rem);
    font-weight: 300;
    color: var(--gray-blue);
}

.heading-subheading {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 600;
}

.heading-paragraph {
    font-weight: 400;
    color: var(--gray-blue);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1.5rem;
    box-shadow: 0 5px 10px rgba(78, 121, 170, 0.15), -1px 0 10px rgba(49, 97, 151, 0.1);
}

.card p {
    color: var(--gray-blue);
}

.card img {
    align-self: flex-end;
    padding-top: 1.5rem;
    padding-right: 1rem;
    width: 64px;
    margin: 0;
}

.card>* {
    margin: 0;
    margin-bottom: 0.7rem;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.cards-supervisor {
    border-top: 4px solid var(--cyan);
}

.cards-team-builder {
    border-top: 4px solid var(--red);
}

.cards-karma {
    border-top: 4px solid var(--orange);
}

.cards-calculator {
    border-top: 4px solid var(--blue);
}

.attribution {
    width: 100%;
    text-align: center;
    font-size: 11px;
    margin: 0;
    margin-top: 1.1rem;
}

.attribution p {
    margin: 0;
}

/* mobile: 375px, desktop: 1440px */
@media (min-width: 1440px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
    }

    .middle {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        padding: 1.5rem;
    }
}
